ThatStings/.vs/ThatStings/v15/.suo
ThatStings/.vs/ThatStings/v15/Server/sqlite3/db.lock
ThatStings/.vs/ThatStings/v15/Server/sqlite3/storage.ide
ThatStings/.vs/ThatStings/v15/Server/sqlite3/storage.ide-shm
ThatStings/.vs/ThatStings/v15/Server/sqlite3/storage.ide-wal
ThatStings/.vs/UrbanParadiseBirds/v15/.suo
ThatStings/.vs/UrbanParadiseBirds/v15/Server/sqlite3/db.lock
ThatStings/.vs/UrbanParadiseBirds/v15/Server/sqlite3/storage.ide
ThatStings/.vs/UrbanParadiseBirds/v15/Server/sqlite3/storage.ide-shm
ThatStings/.vs/UrbanParadiseBirds/v15/Server/sqlite3/storage.ide-wal
